.card-container{
    width:370px;
    height: 550px;
    box-shadow: 4px 3px 8px;
    padding: 20px;
   margin-bottom: 20px;


}
.card-container img{
    width: 100%;
    height: 40%;
  

}
.add-btn{
   
    width: full;
    border: none;
    font-size: 17px;
    padding: 8px 20px;
    background-color: crimson;
    color: white;
   
}
