.home-container{
   margin-left:10px ;
   margin-right:10px ;
    display: grid;
    grid-template-columns: 3fr 1fr;
} 
.left-side{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    
}
.right-side{
   
} 
.activities-container{
    margin: 2px;
       display: grid;
       grid-template-columns: repeat(3,1fr);
   }
   @media only screen and (max-width: 600px) {
    .home-container{
        margin-left:10px ;
        margin-right:10px ;
         display: block;
         grid-template-columns: 1fr 1fr;
     } 
     .left-side{
         display: block;
         grid-template-columns:  1fr; 
         
     }
     
     .activities-container{
         margin: 2px;
            display: block;
            grid-template-columns:1fr;
        }
  }